div.kdview.dropbox.application-page {
  background: white;
}

.dropbox > .container {
  
  margin: 60px auto;
  height: 100%;
  border:1px solid white;
  text-align:center;
  width:500px;
  min-height: 280px;
  margin-bottom:0;

  -webkit-transition: padding-left .6s;
  transition: padding-left .6s;
  padding-left: 0;

}

.dropbox > .container > .dropbox-logo {
  background: url("https://rest.kd.io/gokmen/Dropbox.kdapp/master/resources/dropbox.png");
  background-size: 400px;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 400px;
  height: 150px;
}

.dropbox > .container .reload-button {
  position:absolute;
  top: 2px;
  right: 3px;
  background: url("https://rest.kd.io/gokmen/Dropbox.kdapp/master/resources/refresh-icon.png");
  background-size:24px;
  background-repeat:no-repeat;
  border:none;
  width:24px;
  height:24px;
}

.dropbox > .container > .reload-button {
  top:158px;
  z-index:2;
}

.dropbox > .container > .status-message {
  border-bottom: 1px solid #eee;
  text-align:left;
  padding:5px;
  height: 30px;
}

.dropbox > .container > .status-message > .kdloader {
  top: 10px;
  right: 15px;
  position: absolute;
}

.dropbox > .container > .status-message > .message {
  float:left;
  width: 470px;
  line-height:20px;
  margin: 5px;
  margin-left:0;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

.dropbox > .container > .details {
  padding: 5px;
  font-size: 14px;
  line-height:20px;
  text-align:left;
  word-break:break-all;
  background: #eee;
  width:490px;
  height:auto;
}

.dropbox > .container > .details > cite {
  color: #016FE5;
  cursor: pointer;
}

.dropbox > .container > .db-install,
.dropbox > .container > .db-toggle {
  margin: 15px;
}

.dropbox > .container > .db-toggle > .kdloader {
  margin-top: 0 !important;
  margin-left: 0 !important;
}

body.dropbox .dropbox > .file-container {
  top: 55px !important;
}

.dropbox > .file-container {
  position:absolute;
  height:100%;
  background:white;
  top: 0;
  width: 240px;
  border-bottom:1px solid #eee;
  border-right:1px solid #ccc;

  -webkit-transition: left .6s;
  transition: left .6s;
  left: -242px;

}

.dropbox > .file-container.filemode {
  left: 0;
}

.dropbox > .file-container .jtreeview-wrapper {
  background:white;
  width: 240px;
}

.dropbox > .file-container .vm .chevron, .path-select {
  display:none;
  visibility:hidden;
}

.dropbox > .file-container .vm {
  background:none;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

.dropbox > .file-container .vm .icon {
  background:none;
}

.dropbox > .container.filemode {
  padding-left: 240px;
}

.dropbox > .app-logger {
  z-index:1;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  background: white;
  border-top:1px solid #eee;
}

.dropbox > .app-logger > .listview-wrapper {
  -webkit-transition: height .6s;
  transition: height .6s;
  height: 0;
}

.dropbox > .app-logger > .listview-wrapper.in {
  height: 300px;
}

.dropbox > .app-logger .app-log-item {
  border-top: 1px solid #ddd;
  box-sizing:border-box;
  padding:4px;
  font-family: monospace;
  overflow:auto;
}

.dropbox > .app-logger .app-log-item:hover {
  background: rgba(0,0,0,.01) !important;
}

.dropbox > .app-logger .app-log-item.log {
  background: white;
}

.dropbox > .app-logger .app-log-item.info {
  background: #daddea;
}

.dropbox > .app-logger .app-log-item.warn {
  background: #f4f2ea;
}

.dropbox > .app-logger .app-log-item.error {
  background: #f0e2ec;
}
