.dropbox.main-view {
  background: white;
}

.dropbox .dropbox-logo {
  background: url("http://gokmen.kd.io/dropbox.png");
  background-size: 400px;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 400px;
  height: 150px;
}

.dropbox > .file-container {
  position:absolute;
  height:100%;  
  background:white;
  top: 55px;
  width: 240px;
  border-bottom:1px solid #eee;
  border-right:1px solid #ccc;
  
  -webkit-transition: left .6s;
  transition: left .6s;
  left: -242px;
  
}

.dropbox > .file-container.filemode {
  left: 0;
}

.dropbox > .file-container .jtreeview-wrapper {
  background:white;
  width: 240px;
}

.dropbox > .file-container .vm .chevron, .path-select {
  display:none;
  visibility:hidden;
}

.dropbox > .file-container .vm {
  background:none;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

.dropbox > .file-container .vm .icon {
  background:none;
}

.dropbox > .file-container .kdlistitemview-finderitem.selected {
  /* background:rgba(1, 111, 229, 1); */
}

.dropbox .container {
  margin: 60px auto;
  height: auto;
  border:1px solid white;
  text-align:center;
  width:500px;
  min-height: 280px;
  margin-bottom:0;
  
  -webkit-transition: padding-left .6s;
  transition: padding-left .6s;
  padding-left: 0;

}

.dropbox .container.filemode {
  padding-left: 240px; 
}

.dropbox .details {
  padding: 5px;
  font-size: 14px;
  line-height:20px;
  text-align:left;
  word-break:break-all;
  background: #eee;
  width:490px;
}

.dropbox .details > cite {
  color: #016FE5;
  cursor: pointer;
}

.dropbox .status-message {
  border-bottom: 1px solid #eee;
  text-align:left;
  padding:5px;
  height: 30px;
}

.dropbox .status-message .kdloader {
  right: 15px;
  top: 10px;
  position: absolute;
}

.dropbox .status-message .message {
  float:left;
  width: 470px;
  line-height:20px;
  margin: 5px;
  margin-left:0;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap; 
}

.dropbox .db-install,
.dropbox .db-toggle {
  margin: 15px;
}

.dropbox .status-message .db-toggle > .kdloader {
  margin-top: 0 !important;
  margin-left: 0 !important;
}


.app-logger {
  z-index:1;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  background: white;
  border-top:1px solid #eee;
}

.app-logger > .listview-wrapper {
  -webkit-transition: height .6s;
  transition: height .6s;
  height: 0;
}

.app-logger > .listview-wrapper.in {
  height: 300px;
}

.app-logger .app-log-item {
  border-top: 1px solid #ddd;
  box-sizing:border-box;
  padding:4px;
  font-family: monospace;
  overflow:auto;
}

.app-logger .app-log-item:hover {
  background: rgba(0,0,0,.01) !important;
}

.app-logger .app-log-item.log {
  background: white;
}

.app-logger .app-log-item.info {
  background: #daddea;
}

.app-logger .app-log-item.warn {
  background: #f4f2ea;
}

.app-logger .app-log-item.error {
  background: #f0e2ec;
}